<div
  id="banner"
  style="background-image: url(images/banner-home-01.jpg)"
  class="parallax background"
  data-img-width="2000"
  data-img-height="1330"
  data-diff="400"
>
  <div class="container">
    <div class="sixteen columns">
      <div class="search-container">
        <!-- Form -->
        <h2>Albergues</h2>
        {{input value=query on-key-press=(action (mut query)) placeholder="Nombre, departamento, prioridad" class="ico-01"}}

        <button><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="sixteen columns">
    <div class="padding-right">
      <div class="listings-container">

        {{#each (search query model.albergues properties=searchProperties) as |albergue|}}
          <a href="#" class="listing full-time">
            <div class="listing-title" style="max-width: 420px;">
              <h4>
                {{albergue.nombre}}
                {{#if albergue.horario}}
                  <span class="listing-type">{{{albergue.horario}}}</span>
                {{/if}}
              </h4>

              <ul class="listing-icons">
                <li><i class="ln ln-icon-Management"></i> {{{albergue.telefono}}}</li>
                <li><i class="ln ln-icon-Map2"></i> {{{albergue.direccion}}}</li>
              </ul>
            </div>

            {{#if albergue.recursosPrioritarios}}
              <div class="listing-detauls">
                <div><strong>Prioridades</strong></div>
                {{{albergue.recursosPrioritarios}}}
              </div>
            {{/if}}
          </a>
        {{/each}}
      </div>

      <div class="margin-bottom-55"></div>
    </div>
  </div>
</div>
